[run]
# Directories to measure coverage
source = src
branch = True

[report]
# Exclude the following from the report:
omit =
    */__init__.py
    */tests/*
    */.venv/*
show_missing = True
skip_covered = True  # Skip reporting files with 100% coverage